.nav_config {

  .navbar-brand--logo {
    margin-left: 70px;
    p {
      color: blue;
      font-size: 0.8em;
      font-weight: 400;
      margin-top: 10px;
      margin-left: 15px;
      letter-spacing: 0.4px;
    }
  }
  .navbar-nav--menu {
    margin-right: 100px;
    .nav-item {
      margin-left: 40px;
      position: relative;

      .nav-link {
        font-weight: bold;
        color: #000;
        &:hover {
          color: #333333;
        }
      }

      .nav-item--line {
        position: absolute;
        bottom: -5px;
        content: "";
        width: 0%;
        height: 3px;
        border: 1px solid desaturate($color: #fff, $amount: 0);

        border-radius: 1px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
      }
      &:hover > .nav-item--line {
        width: 100%;
        background-image: linear-gradient(to right, #615ced, blue);
      }
    }
  }
  .show_id {
    position: relative;
    // margin-right: 20px;
    .img_id {
      // cursor: pointer;
      img {
        border: 2px solid blue;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      // &:hover {
      //   .icon_logout {
      //     opacity: 1;
      //   }
      // }
    }
    span {
      font-weight: bolder;
    }
    .icon_logout {
      opacity: 1;
      position: absolute;
      bottom: -30%;
      cursor: pointer;
      padding: 2px;
      border: 1px solid blue;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      i {
        font-size: 12px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
